RewriteEngine On

# If the request is not a directory
RewriteCond %{REQUEST_FILENAME} !-d

# If the request file with .php extension exists
RewriteCond %{REQUEST_FILENAME}.php -f

# Rewrite URL to include .php
RewriteRule ^(.*)$ $1.php [NC,L]

